html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: sans-serif;
  color: #333;
}
button {
  cursor: pointer;
}
img{
  display: block;
}
.continer {
  width: 85%;
  margin: auto;
}
.continer .title {
  text-align: center;
  margin-bottom: 50px;
}
.continer .title h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}
.continer .title h2 span {
  color: #7f22fe;
}
.continer .title p {
  font-size: 20px;
  font-weight: 400;
  color: #333;
}
hr {
  width: 100%;
  margin: 30px 0 10px 0;
  border-color: #d1d5dc;
}