/* Footer */
.footer {
  background-color: #101828;
  color: #fff;
  padding: 50px 0;
}
.footer hr {
  margin: 50px 0 30px 0;
  border-color: #1E2939;
}
.footer .footer-uper .footer-heading .logo {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.footer .footer-uper .footer-heading .logo .logo-image {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  border-radius: 15px;
  background-color: #7f22fe;
}
.footer .footer-uper .footer-heading .logo .logo-image img {
  width: 100%;
}
.footer .footer-uper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer .footer-uper span {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.footer .footer-uper p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 26px;
}
.footer .footer-uper div {
  width: 20%;
}
.footer div ul {
  list-style: none;
  padding: 0;
}
.footer div ul li {
  margin: 15px 0;
  color: #8f8f83;
  transition: 0.2s;
  cursor: pointer;
}
.footer div ul li:hover {
  color: #fff;
  transition: 0.2s;
}
.footer .footer-uper .social-links {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .social-links div {
  width: fit-content;
  padding: 10px;
  background-color: #1e2939;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
.footer .social-links a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .social-links a img {
  width: 20px;
}
.footer .facebook:hover {
  background-color: #1877f2;
  transition: 0.2s;
}
.footer .twitter:hover {
  background-color: #1da1f2;
  transition: 0.2s;
}
.footer .instagram:hover {
  background-color: #e4405f;
  transition: 0.2s;
}
.footer .youtube:hover {
  background-color: #ff0000;
  transition: 0.2s;
}
.footer .footer-ground {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer .footer-ground .footer-payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.footer .footer-ground p {
  font-size: 14px;
  font-weight: 400;
}
.footer .footer-ground .footer-payment-img {
  width: 60px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.footer .footer-ground .master-card {
  width: 30px;
}
.footer .footer-ground .footer-payment-img img {
  width: 100%;
}